
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	overflow: hidden;
	background: #fff;
}

	body.wood-theme {
		background: url('/assets/background-wood.jpg') no-repeat center center fixed;
		background-size: cover;
	}

	body.cork-theme {
		background: url('/assets/background-cork.jpg') no-repeat center center fixed;
		background-size: cover;
	}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}


header.topbar {
	width: 100%;
	margin: 0;
	padding: 15px;
	background: #333;
	background: linear-gradient(to bottom, rgba(66,66,66,1) 0%, rgba(18,18,18,1) 100%);;
	color: #fff;
	box-shadow: 0 4px 4px rgba(0,0,0,0.4);
}

	header.topbar h1 {
		color: #fff;
		margin: 0;
		padding: 0;
		text-shadow: 1px 1px 0 #000;
		font-weight: 300;
	}

#wrapper > main {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 15px;
}

