
section.board table {
	width: 640px;
	margin: 100px auto;
	box-shadow:
		4px 4px 4px rgba(0,0,0,0.4),
		-4px -4px 4px rgba(0,0,0,0.4);
}
	
	section.board table tr {
		/**/
	}

		section.board table td {
			width: 80px;
			height: 80px;
			padding: 3px;
			border: 0;
			box-shadow: 3px 3px 3px rgba(0,0,0,0.4) inset;
			cursor: pointer;
		}

			section.board table td img {
				display: block;
				width: 74px;
				height: 74px;
				margin: 0;
				padding: 0;
			}

	section.board table tr:nth-child(odd) td:nth-child(odd),
	section.board table tr:nth-child(even) td:nth-child(even) {
		background: #fff;
	}

	section.board table tr:nth-child(odd) td:nth-child(even),
	section.board table tr:nth-child(even) td:nth-child(odd) {
		background: #555;
		background: linear-gradient(135deg, rgba(133,133,133,1) 0%, rgba(36,36,36,1) 100%);
	}

